.checkButton{
    background-color:rgb(255, 255, 255);
    border:1px solid rgb(148, 148, 148);
    overflow:auto;
    width: 25%;
    display:inline-block;
    height: 40px;
}

#cbRight{
    border-radius: 15px 0px 0px 15px;
}

#cbLeft{
    border-radius: 0px 15px 15px 0px;
}

.checkButton label {
    float:center;
    width:4.0em;
}

.checkButton label span {
    text-align:center;
    padding:8px;
    font-size: 15px;
    display:block;
}

.checkButton label input {
    position:absolute;
    top:-20px;
}

.checkButton input:checked + span {
    background-color:rgb(168, 168, 168);
    height: 24px;
    color:rgb(0, 0, 0);
}

.display{
    width: 100%;
    align-items: middle;
    display: inline-block;
    text-align:center
}