.App {
  text-align: center;
}

#labels #helo{
  float: right;
  font-size: medium;
  margin-top: 10px;
  margin-right: 10px;
  width: 49%;
}

#labels {
  overflow: hidden;/* Makes this div contain its floats */
}

#labels #logout{
  float: left;
  text-align: left;
  font-size: medium;
  margin-top: 10px;
  margin-left: 10px;
  width: 49%;
}

#logout:hover{
  color: blue;
  text-decoration: underline;
}
.App-header {
  background-color: white;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

