.Home {
    text-align: center;
  }

.Home-header {
background-color: white;
min-height: 20vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
}

.Home-link {
color: #61dafb;
}

#Logo{
    align-content: center;
}