body {
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
} 

p{
    text-align: center;
}

label {
    display: block;
    font: .8rem 'Fira Sans', sans-serif;
    direction: rtl;
    text-align: right;
}

#id, #answer, #pass, #pass2{
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}

#date{
    width: 50%;
    margin-right: 25.2%;
    margin-left: 24.8%;
}

#lid, #lq, #ldate, #lpass, #lpass2{
    margin-right: 25%;
    text-align: right;
}

#remember{
    float: right;
    margin-top: 2%;
    margin-right: 0;
}

#con, #send{
    width: 10%;
    margin-left: 40%;
    margin-right: 45%;
    margin-top: 3%;
}

#wrong{
    color: red;
    font: .2rem 
}

h3{
    text-align: center;
    margin-bottom: 3%;
}

button {
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    color: gray;
    opacity: 0.8;
}

.popup {

    float: right;
    text-align: right;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}

.popup_inner {

    position: absolute;
    left: 30%;
    right: 30%;
    top: 0;
    bottom: 0;
    margin: auto;
    background: white;
}

#x {
    color: rgb(180, 180, 180);
    font-size: large;
    font-family: Arial, sans-serif;
    float: right;
    text-align: right;
    background-color: white;
    font-weight: bolder; 
    width: fit-content;
    
}

#x:hover{
    color: black;
}

#forget:hover{
    color: blue;
    text-decoration: underline;
}

#register:hover{
    color: blue;
    text-decoration: underline;
}

#h3{
    text-align: center;
  }


/*

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

*/
/* Change styles for span and cancel button on extra small screens */
/*
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
*/