.card{
    border: 1px solid rgba(151, 150, 150, 0.281);
    margin-bottom: 3%;
    font-size: medium;
    text-align: right;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0;
}

.card:hover{
    border: 1px solid black;
}

.cardBody{
    margin-right: 1%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

h4{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.date {
    margin: 0;
    
    margin-top: 2vmin;
    display:inline-block
}
.search {
    overflow: hidden;/* Makes this div contain its floats */
}
.bSearch{
    width: 10%;
    float: right;
    margin-right: 10px;
}

.iSearch{
    text-align: right;
    float: right;
}

#pname{
    
    width: 25%;
}
#fname{
    width: 25%;
    margin-right: 10px;
}

.lSearch{
    width: 20%;
    margin-top: 15px;
    float: right;
    font-size: small;
    text-align: left;
    margin-left: 10px;
}

.cSearch{
    width: 20%;
    margin-top: 15px;
    float: right;
    font-size: small;
    text-align: left;
}

.dSearch{
    width: 30%;
    float: right;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.aSearch{
    width: 5%;
    margin-top: 15px;
    font-size: small;
    float: right;
    text-align: center;
}

.dates{
    width: 100%;
    align-items: middle;
    display: inline-block;
    overflow: hidden;
}

.mLabel{
    font-size: small;
    color: black;
    float: right;
    margin-left: 9px;
}

.cInput{
    float: right;
}


.mdd{
    width: 100%;
    margin: 0;
    margin-top: 15px;
    overflow: hidden
}

.popup {

    float: right;
    text-align: right;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}

.popup_inner {

    position: absolute;
    left: 30%;
    right: 30%;
    top: 25%;
    bottom: 10%;
    margin: auto;
    height: auto;
    background: white;
}
