th, td {
    border: 1px solid black;
    border-collapse: collapse;
    float: right;
    width: 15%;
    font-size: 15px;
    font-weight:normal;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}